<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
</head>
<body class="sb-nav-fixed">
<app-menu></app-menu>
<div id="layoutSidenav_content">
  <main>
    <div class="row">
      <div class="col-md-6">
        <div class="container-fluid px-4">
          <h1 class="mt-4">Animais</h1>
        </div>
      </div>
      <div class="col-md-6">
        <button class="btn btn-dark" id="btn-animal" data-bs-toggle="modal" data-bs-target="#modal-animal">Novo Animal</button>
      </div>
    </div>
    <table class="table table-hover mt-3" *ngIf="animals.length > 0">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Espécie</th>
          <th>Descrição</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let animal of animals">
          <td>{{animal.name}}</td>
          <td>{{animal.specie}}</td>
          <td>{{animal.description}}</td>
          <td class="text-end">
            <button class="btn btn-primary me-2">Editar</button>
            <button class="btn btn-danger">Apagar</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row ms-4 mt-4">
      <div class="alert alert-danger col-md-6" role="alert" *ngIf="animals.length == 0">
        Nenhum animal encontrado!
      </div>
    </div>
  </main>
</div>
<app-modal-animal></app-modal-animal>
</body>
</html>
