<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Empresa</title>
</head>
<body class="sb-nav-fixed">
<app-menu></app-menu>
<div id="layoutSidenav_content">
  <main>
    <div class="row">
      <div class="col-md-6">
        <div class="container-fluid px-4">
            <h1 class="mt-4">{{permission == null ? "" : permission.company.company_name}}</h1>
        </div>
      </div>
      <div class="col-md-6">
        <button class="btn btn-dark" id="btn-convidar-usuario" data-bs-toggle="modal" data-bs-target="#modal-convidar-usuario">Convidar Usuário</button>
      </div>
    </div>
    <div class="container-fluid mt-3">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="data-tab" data-bs-toggle="tab" data-bs-target="#data-tab-pane" type="button" role="tab" aria-controls="data-tab-pane" aria-selected="true">Dados</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="employees-tab" data-bs-toggle="tab" data-bs-target="#employees-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Funcionários</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="invites-tab" data-bs-toggle="tab" data-bs-target="#invites-tab-pane" type="button" role="tab" aria-controls="invites-tab-pane" aria-selected="false">Convites Pendentes</button>
        </li>
      </ul>
      <div class="tab-content" id="content">
        <div class="tab-pane fade show active" id="data-tab-pane" role="tabpanel" aria-labelledby="data-tab">
          <form class="mt-3" *ngIf="permission" (ngSubmit)="updateCompany()">
            <div class="mb-3">
              <label for="name" class="form-label">Nome</label>
              <input type="text" [(ngModel)]="permission.company.company_name" name="name" class="form-control" id="name">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">E-mail</label>
              <input type="email" [(ngModel)]="permission.company.email" name="email" class="form-control" id="email">
            </div>
            <div class="mb-3">
              <label for="cnpj" class="form-label">Cnpj</label>
              <input type="text" [(ngModel)]="permission.company.cnpj" name="cnpj" class="form-control" id="cnpj">
            </div>
            <button type="submit" class="btn btn-primary">Atualizar</button>
          </form>
        </div>
        <div class="tab-pane fade" id="employees-tab-pane" role="tabpanel" aria-labelledby="employees-tab">
          <app-tabela-funcionarios [employees]="employees" (emitUserPermission)=seePermissionUser($event)></app-tabela-funcionarios>
        </div>
        <div class="tab-pane fade" id="invites-tab-pane" role="tabpanel" aria-labelledby="invites-tab">
          <ng-template [ngIf]="permission">
            <app-tabela-convites-empresa [company_id]="permission.company.id!"></app-tabela-convites-empresa>
          </ng-template>
        </div>
      </div>
    </div>
  </main>
</div>
<ng-template [ngIf]="permission">
  <app-modal-convidar-usuario [company]="permission.company.id!"></app-modal-convidar-usuario>
</ng-template>
</body>
</html>
<app-modal-permissoes-usuario [user]="userSeePermission"></app-modal-permissoes-usuario>
