<table class="table table-striped mt-3" *ngIf="invites.length > 0">
  <thead>
  <tr>
    <th scope="col">Nome</th>
    <th scope="col" class="text-center">E-mail</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invite of invites; index as i;">
    <td>{{invite.employee.name}}</td>
    <td class="text-center">{{invite.employee.email}}</td>
    <td class="text-end">
      <button class="btn btn-danger" (click)="cancelInvite(invite.id!, i)">Cancelar</button>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="!invites || invites.length! == 0" class="alert alert-danger mt-4 col-6" role="alert">
  Não foi encontrado nenhum convite pendente!
</div>
