<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
  </head>
  <body class="sb-nav-fixed">
    <app-menu></app-menu>
    <div id="layoutSidenav_content">
      <main>
        <div class="container-fluid px-4">
          <h1 class="mt-4">Perfil</h1>
          <div class="row">
            <div class="col-6">
              <form class="form-card" #perfilForm="ngForm" (ngSubmit)="updatePerfil()" method="POST" enctype="multipart/form-data" id="form-perfil">
                <div class="row justify-content-between text-left">
                  <div class="row justify-content-between text-left mt-3">
                    <div class="form-group  flex-column d-flex">
                      <label for="nameUser">Nome</label>
                      <input name="name" [(ngModel)]="user.name" placeholder="Nome" id="nameUser" type="text" class="form-control" required/>
                    </div>
                  </div>
                  <div class="row justify-content-between text-left">
                    <div class="form-group  flex-column d-flex">
                      <label for="emailUser">E-mail</label>
                      <input name="email" [(ngModel)]="user.email" id="emailUser" placeholder="E-mail" type="text" class="form-control" required/>
                    </div>
                  </div>
                  <div class="row justify-content-between text-left">
                    <div class="form-group  flex-column d-flex">
                      <label for="number">Contato</label>
                      <input name="number" [(ngModel)]="user.phone" placeholder="Número" id="number" type="text" class="form-control" required/>
                    </div>
                  </div>
                  <div class="row justify-content-between text-left">
                    <div class="form-group  flex-column d-flex">
                      <label for="password">Senha</label>
                      <input name="password" [(ngModel)]="user.password" id="password" type="password" class="form-control" required/>
                    </div>
                  </div>
                  <div class="row salvar-btn">
                    <div class="form-group">
                      <button type="submit" class="btn btn-block btn-dark">Salvar</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-6">
              <div *ngIf="!permission && user.type == 'EMPLOYEE'" class="alert alert-danger" role="alert">
                Você ainda não está em uma empresa, <a class="alert-link" data-bs-toggle="modal" data-bs-target="#modal-criar-empresa">crie uma</a> ou aceite um convite para poder usar nossas funcionalidades!
              </div>
              <app-tabela-convites-usuario [invites]="invites" (emitNewCompany)="addNewPermission($event)"></app-tabela-convites-usuario>
            </div>
          </div>
        </div>
      </main>
    </div>
    <ng-template [ngIf]="!permission">
      <app-modal-criar-empresa></app-modal-criar-empresa>
    </ng-template>
  </body>
</html>
