<h4 class="mt-4">Convites</h4>
<table class="table table-striped mt-3 table-responsive" *ngIf="invites.length > 0">
  <thead>
  <tr>
    <th>Empresa</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let invite of invites; index as i;" #invite>
    <td>{{invite.company.company_name}}</td>
    <td class="text-end">
      <button class="btn btn-success me-2" (click)="alterarConvite(1, invite.id!, i, invite.company.id!)">Aceitar</button>
      <button class="btn btn-danger" (click)="alterarConvite(2, invite.id!, i, invite.company.id!)">Recusar</button>
    </td>
  </tr>
  </tbody>
</table>
<div *ngIf="!invites || invites.length == 0" class="alert alert-dark mt-4 " role="alert">
  Não foi encontrado nenhum convite para você!
</div>
