<div class="modal" tabindex="-1" id="modal-convidar-usuario">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Convidar Usuário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-between text-left">
          <div class="form-group  flex-column d-flex">
            <input name="email" placeholder="Digite o e-mail do usuário" id="email" type="email" class="form-control" [(ngModel)]="emailUsuario" required/>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" #btnCancelar data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="convidar()">Convidar</button>
      </div>
    </div>
  </div>
</div>
