<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
</head>
<body class="sb-nav-fixed">
<app-menu></app-menu>
<div id="layoutSidenav_content">
  <main>
    <div class="row">
      <div class="col-md-6">
        <div class="container-fluid px-4">
          <h1 class="mt-4">Serviços</h1>
        </div>
      </div>
      <div class="col-md-6">
        <button class="btn btn-dark" id="btn-servico" data-bs-toggle="modal" data-bs-target="#modal-servico">Novo Serviço</button>
      </div>
    </div>
    <ng-template [ngIf]="services">
      <table class="table table-hover table-responsive mt-3" *ngIf="permission != null && services.length > 0">
        <thead>
        <tr>
          <th>Descrição</th>
          <th>Valor</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let service of services">
          <td>{{service.description}}</td>
          <td>{{service.value}}</td>
          <td class="text-end">
            <button class="btn btn-primary me-2">Editar</button>
            <button class="btn btn-danger">Apagar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </ng-template>
    <div class="row ms-4 mt-4">
      <div class="alert alert-danger col-md-6" role="alert" *ngIf="permission != null && services.length == 0">
        Nenhum serviço encontrado!
      </div>
      <div class="alert alert-danger col-md-6" role="alert" *ngIf="permission == null">
        Você ainda não está em uma empresa, crie ou entre em uma!
      </div>
    </div>
  </main>
</div>
<app-modal-servico></app-modal-servico>
</body>
</html>
