<app-header></app-header>
<div id="layoutSidenav">
  <div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
      <div class="sb-sidenav-menu">
        <div class="nav">
          <div class="sb-sidenav-menu-heading">Menu</div>
          <a class="nav-link" [routerLink]="['/agenda']">
            Agenda
          </a>
          <a *ngIf="userType == 'CLIENT'" class="nav-link" [routerLink]="['/animais']"><!-- só o cliente tem acesso -->
            Animais
          </a>
          <ng-template [ngIf]="userType == 'EMPLOYEE'">
            <a class="nav-link" [routerLink]="['/clientes']"><!-- só o usuário tem acesso -->
              Clientes
            </a>
            <a class="nav-link" [routerLink]="['/servicos']"><!-- só o usuário tem acesso -->
              Serviços
            </a>
          </ng-template>
        </div>
      </div>
    </nav>
  </div>
</div>
