<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
</head>
  <body class="sb-nav-fixed">
  <app-menu></app-menu>
    <div id="layoutSidenav_content">
      <main>
        <div class="row">
          <div class="col-md-6">
            <div class="container-fluid px-4">
              <h1 class="mt-4">Dashboard</h1>
            </div>
          </div>
          <div class="col-md-6" *ngIf="permission">
            <div class="card ms-4" *ngIf="permission.company_owner && user.type == 'EMPLOYEE'" >
              <app-card-empresa [company_name]="permission.company.company_name!"></app-card-empresa>
            </div>
          </div>
        </div>
        <div class="col-8 tabela-pedido">
          <ng-template [ngIf]="permission && permission.can_add_schedules && user">
            <app-tabela-pedido-agendamento [user]="user" [permission]="permission!" [requestSelected]="serviceRequest" (emitRequest)="setRequestSee($event)"></app-tabela-pedido-agendamento>
          </ng-template>
          <ng-template [ngIf]="user.type == 'CLIENT'">
            <app-tabela-pedido-agendamento [user]="user" [requestSelected]="serviceRequest" (emitRequest)="setRequestSee($event)"></app-tabela-pedido-agendamento>
          </ng-template>
        </div>
      </main>
    </div>
  </body>
</html>
