<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
</head>
<body class="sb-nav-fixed">
<app-menu></app-menu>
<div id="layoutSidenav_content">
  <main>
    <div class="row">
      <div class="container-fluid px-4">
        <h1 class="mt-3">Pedidos</h1>
        <ng-template [ngIf]="permission && user.type == 'EMPLOYEE'">
          <app-tabela-pedido-agendamento [user]="user" [permission]="permission!" [requestSelected]="serviceRequest" (emitRequest)="setRequestSee($event)"></app-tabela-pedido-agendamento>
        </ng-template>
        <ng-template [ngIf]="user.type == 'CLIENT'">
          <app-tabela-pedido-agendamento [user]="user" [requestSelected]="serviceRequest" (emitRequest)="setRequestSee($event)"></app-tabela-pedido-agendamento>
        </ng-template>
      </div>
    </div>
  </main>
</div>
</body>
</html>
