<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<main id="main">
  <div class="container">
    <header class="section-header">
      <h3>Login</h3>
    </header>
    <form class="form-card" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div class="row justify-content-between text-left">
        <div class="form-group  flex-column d-flex">
          <input name="email" ngModel placeholder="E-mail" id="email" type="email" class="form-control" required/>
        </div>
      </div>
      <div class="row justify-content-between text-left">
        <div class="form-group  flex-column d-flex">
          <input name="password" ngModel placeholder="Senha" id="password" type="password" class="form-control mt-3" required/>
        </div>
      </div>
      <div class="row justify-content-end mt-3">
        <div class="form-group">
          <button type="submit" class="btn btn-block btn-dark">Login</button>
          <button type="button" routerLink="/cadastro" class="btn btn-block btn-secondary ms-1">Cadastrar-se</button>
        </div>
      </div>
    </form>
  </div>
</main>
</body>
</html>
