<body>
  <main id="main">
    <section id="cadastro">
      <div class="container">
        <header class="section-header">
          <h3>Cadastro</h3>
        </header>
        <form #cadastrarForm="ngForm" (ngSubmit)="cadastrar(cadastrarForm)">
          <div class="row justify-content-between text-left">
            <div class="form-group  flex-column d-flex">
              <label for="name">Nome</label>
              <input name="name" ngModel placeholder="Nome" id="name" type="text" class="form-control" required/>
            </div>
          </div>
          <div class="row justify-content-between text-left mt-3">
            <div class="form-group  flex-column d-flex">
              <label for="phone">Telefone</label>
              <input name="phone" ngModel placeholder="Telefone" id="phone" type="text" class="form-control" required/>
            </div>
          </div>
          <div class="row justify-content-between text-left mt-3">
            <div class="form-group  flex-column d-flex">
              <label for="email">E-mail</label>
              <input name="email" ngModel placeholder="E-mail" id="email" type="email" class="form-control" required/>
            </div>
          </div>
          <div class="row justify-content-between text-left mt-3">
            <div class="form-group  flex-column d-flex">
              <label for="password">Senha</label>
              <input name="password" ngModel placeholder="Senha" id="password" type="password" class="form-control" required/>
            </div>
          </div>
          <label>Tipo</label>
          <div class="row justify-content-between text-left mt-3">
            <div class="form-group  flex-column d-flex">
              <div class="form-check">
                  <input type="radio" class="form-check-input" ngModel name="type" [value]="0" required>
                  <label class="form-check-label"> Usuário</label>
              </div>
              <div class="form-check">
                  <input type="radio" class="form-check-input" ngModel name="type" [value]="1" required>
                  <label class="form-check-label"> Cliente</label>
              </div>
            </div>
          </div>
          <div class="row justify-content-end mt-3">
            <div class="form-group">
              <button class="btn btn-dark">Cadastrar-se</button>
              <button class="btn btn-secondary ms-1" routerLink="/login">
                Fazer Login
              </button>
            </div>
          </div>

        </form>

      </div>
    </section>
  </main>
</body>
