<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
</head>
<body class="sb-nav-fixed">
<app-menu></app-menu>
<div id="layoutSidenav_content">
  <main>
    <div class="row">
      <div class="col-md-6">
        <div class="container-fluid px-4">
          <h1 class="mt-4">Agenda</h1>
        </div>
      </div>
      <ng-template [ngIf]="user.type == 'CLIENT'">
        <div class="col-md-6">
          <button class="btn btn-dark" id="btn-solicitar-agendamento" data-bs-toggle="modal" data-bs-target="#modal-agendamento">Solicitar Agendamento</button>
        </div>
      </ng-template>
    </div>
    <table class="table table-hover mt-3 ms-4 me-4" *ngIf="schedules.length > 0">
      <thead>
      <tr>
        <td>Data</td>
        <td>Animal</td>
        <td>Valor</td>
        <td>Pago</td>
        <td>Status</td>
        <td>Ações</td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let schedule of schedules">
        <td>{{schedule.date}}</td>
        <td>{{schedule.animal.name}}</td>
        <td>{{schedule.amount.toString()}}</td>
        <td>{{schedule.paid}}</td>
        <td>{{schedule.status}}</td>
        <td></td>
      </tr>
      </tbody>
    </table>
    <div class="row ms-4 mt-4">
      <div class="alert alert-danger col-md-6" role="alert" *ngIf="schedules.length == 0 && (permission != null && user.type == 'EMPLOYEE' || user.type == 'CLIENT')">
        Nenhum agendamento encontrado!
      </div>
      <div class="alert alert-danger col-md-6" role="alert" *ngIf="user.type == 'EMPLOYEE' && permission == null">
        Você ainda não está em uma empresa, crie ou entre em uma!
      </div>
    </div>
  </main>
</div>
<app-modal-agendamento></app-modal-agendamento>
</body>
</html>
